---
const { cover, title, lang } = Astro.props;

if (!cover?.url) return null;

const alt =
  cover.alt?.[lang] ||
  cover.alt?.es ||
  title;
---
<section class="property-hero">
  <div class="hero-image-wrapper">
    <img
      src={cover.url}
      alt={alt}
      loading="eager"
      fetchpriority="high"
      decoding="async"
    />
    <div class="hero-gradient"></div>
  </div>

  <div class="hero-content container">
    <div class="hero-text">
       {Astro.props.location && <span class="hero-location-badge">{Astro.props.location}</span>}
      <h1>{title}</h1>
    </div>
  </div>
</section>
